@use "@/styles/helpers" as *;

.cardWrapper.cardWrapper {
  box-sizing: border-box;
  width: fluid-to-laptop(300, 250);
  border: solid 3px var(--color-border);
  border-radius: var(--radius-s);
  overflow: hidden;
}

.cubeShape.cubeShape {
  display: flex;
  @include flex-center;
  margin: 10px;
}

.cardSection {
  font-family: var(--font-family-base), sans-serif;
  background-color: var(--color-border);
  text-align: center;
  font-size: var(--font-size-l);
  white-space: normal;
  word-break: break-word;

}

.algorithm.algorithm {
  @extend .cardSection;
  padding: var(--padding-s);
}

.algorithmName.algorithmName {
  @extend .cardSection;
  padding: var(--padding-xs);
  font-weight: 600;
}