.side {
  rotate: var(--rotate);
  transition: rotate var(--transition-slow);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  @media (any-hover: hover) {
    &:hover {
      rotate: var(--rotate-on-hover);
    }
  }

  @media (any-hover: none) {
    &:active {
      rotate: var(--rotate-on-hover);
    }
  }
}