*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  margin: 0;
  transition: background-color var(--transition-base), color var(--transition-base);
}
